<!-- <img src="./layouts/title.jpg"> -->
<!DOCTYPE HTML>
<HEAD>
  <TITLE>Order your Burger</TITLE>
  <META name="viewport" content="width=device-width, initial-scale=1.0">
</HEAD>
<STYLE>

  BODY {
    width:80%;
  }

  #titleImage {
    margin-left:40vw;
  }

  h1 {
    text-align:center;
    margin-left:25%;
  }

  #order {
    margin-left:41vw;
  }

  INPUT {
    width:216px;
    margin-bottom:20px;
  }

  BUTTON {
    width:220px;
    height:75px;
  }

  #submit {
    width:200px;
    height:50px;
  }

  #container {
    margin-top:100px;
    margin-left:10vw;
    width:100%;
    height:600px;
    border-style:solid;
    border-width:3px;
  }

  .burgers {
    width:26.39vw;
    text-align:center;
    float:left;
  }

</STYLE>
<BODY>
  <img id="titleImage" src="/title" height="200" width="256">
  <H1>Please Enter Your Custom Order!</H1>
  <FORM id="order" action="/submit-order" method="post">
    <INPUT type="text" name="order"> <br>
    <button type="submit"><img id="submit" src="/submit-image"></button>
  </FORM>

  <div id="container">
    <form>
    {{#each burgers}}
      {{#unless this.burger_devoured}}
        <button type="submit" formmethod="post" formaction="/devour" class="burgers" name="{{this.burger_name}}"> Devour <br><br> {{this.burger_name}} </button>
      {{/unless}}
    {{/each}}
  </form>
  </div>
</BODY>
