<!-- <img src="./layouts/title.jpg"> -->
<!DOCTYPE HTML>
<HEAD>
  <TITLE>Order your Burger</TITLE>
  <META name="viewport" content="width=device-width, initial-scale=1.0">
</HEAD>
<STYLE>
  body {
    width:100%;
  }

  #titleImage {
    margin-left:43.5vw;
    margin-right:50vw;
  }

  h1 {
    text-align:center;
  }
</STYLE>
<BODY>
  <img id="titleImage" src="http://localhost:8080/imageDevelopment" height="200" width="256">
  <H1>Please Enter Your Custom Order!</H1>
  <FORM>
  </FORM>
</BODY>
